* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: #081F32;
    background-color: #fff;
}

.container {    
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 5.2rem 4.0rem;
}

.nav-link {
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;       
    color: #081F32;
    text-decoration: none;
}

.nav-link-blue{
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;   
    color: #1B75BB; 
    text-decoration: none;
}

.request_book {
    font-family: 'Gelasio', sans-serif;
    text-decoration: none;
    display: inline-block;
    background: #1B75BB;
    border-radius: 5px;
    margin-top: 35px;
    height: 54px;
    color: #FFFFFF;
    padding: 1rem 2rem;    
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;       
  }
  

/* FIRST SECTION */

.first-section {
    background-image: url("../imgs/main-bg.jpg");
    min-height: 690px;
    padding: 22rem 0 0;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #1B75BB;    
    text-transform: uppercase;
    letter-spacing: 0.1em;  
    opacity: 0.8;
    margin-bottom: 1.5rem;      
}

.first-section-title {
    font-family: 'Gelasio', sans-serif;
    font-size: 5.7rem;
    max-width: 46rem;
    margin: 0 0 2rem;
    font-weight: 600;    
    color: #081F32;
}

.blue {
    font-family: 'Gelasio', sans-serif;
    font-size: 5.7rem;   
    font-weight: 600;    
    color: #1B75BB;   
}

.first-section-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    max-width: 35rem;  
    color: #081F32;
    opacity: 0.6;
}
    
.request_read {
    font-family: 'Gelasio', sans-serif;
    text-decoration: none;
    display: inline-block;
    background: #1B75BB;
    border-radius: 0.5rem;
    margin-top: 3.5rem;
    height: 5.4rem;
    color: #FFFFFF;
    padding: 1.5rem 3.0rem;    
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;      
}

.mini_box{          
    min-height: 10rem;
    width: 68.7rem;
    margin-left: 24.4rem;
    background: rgba(255, 255, 255, 0.21); 
    backdrop-filter: blur(0.2rem);       
    border-radius: 1rem;  
    position: absolute;
    margin-top: -5rem;
    margin-bottom: -5rem;   
    list-style: none;  
    text-decoration: none;                  
    }

.ch_date {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    height: 10rem;
    padding: 4rem;  
}

.cheek{
    list-style: none;
    text-decoration: none; 
     
}    

.row{
    max-height: 10rem;
    width: 17rem; 
}
    
h3 {        
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;      
    color: #081F32;
    margin: 0 0 1.5rem;       
}

.date{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;   
    color: #081F32;
    opacity: 0.8;       
}

.request_find {    
    font-family: 'Gelasio', sans-serif;
    text-decoration: none;
    display: inline-block;
    background: #1B75BB;
    border-radius: 0.5rem;    
    height: 5.4rem;
    color: #FFFFFF;
    padding: 1.5rem 3.0rem;    
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
}

@media screen and (max-width: 767px) {

    .first-section-title {
        font-size: 4.7rem;
    

}

@media screen and (max-width: 425px) {

    .first-section-title {
        font-size: 2.7rem;
    }

}


/* HOLIAYS */
.holidays {}

.holidays-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holidays-imgs {
    position: relative;
}

.holidays-img-main {
    position: relative;
    z-index: 1;
}

.holidays-img-sec {
    position: absolute;
    top: -50px;
    right: -60px;
}

.holidays-img-ripples {
    position: absolute;
    left: -30px;
    bottom: -30px;
}

.holidays-content {}

.holidays-title {}