* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: #081F32;
    background-color: #fff;
}

.container {    
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin: 52px 40px;
}

.nav-link {
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;       
    color: #081F32;
    text-decoration: none;
}
.nav-link-blue{
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;   
    color: #1B75BB; 
    text-decoration: none;
}

.request {
    font-family: 'Gelasio', sans-serif;
    text-decoration: none;
    display: inline-block;
    background: #1B75BB;
    border-radius: 5px;
    margin-top: 35px;
    height: 54px;
    color: #FFFFFF;
    padding: 10px 20px;    
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;       
  }
  

/* FIRST SECTION */
.first-section {
    background-image: url("../imgs/main-bg.jpg");
    min-height: 690px;
    padding: 22rem 0 0;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #1B75BB;    
    text-transform: uppercase;
    margin-bottom: 15px;
}
.first-section-title {
    font-family: 'Gelasio', sans-serif
    font-size: 5.7rem;
    max-width: 45rem;
    margin: 0 0 2rem;
    font-weight: 600;
    font-size: 57px;
    color: #081F32;

}

.first-section-text {
    font-size: 1.8rem;
    max-width: 34rem;
}

@media screen and (max-width: 767px) {

    .first-section-title {
        font-size: 4.7rem;
    }

}

@media screen and (max-width: 425px) {

    .first-section-title {
        font-size: 2.7rem;
    }

}


/* HOLIAYS */
.holidays {}

.holidays-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holidays-imgs {
    position: relative;
}

.holidays-img-main {
    position: relative;
    z-index: 1;
}

.holidays-img-sec {
    position: absolute;
    top: -50px;
    right: -60px;
}

.holidays-img-ripples {
    position: absolute;
    left: -30px;
    bottom: -30px;
}

.holidays-content {}

.holidays-title {}